Nr. of results <input type="text" ng-model="nrOfResults"> <button class="btn" ng-click="load()">Load</button>

<table class="table table-striped">
	<tr>
		<th>Path</th>
		<th>Timestamp</th>
		<th>User agent</th>
		<th>Response time (in milliseconds)</th>
	</tr>
	
	<tr ng-repeat="log in data">
		<td>{{log.path}}</td>
		<td>{{log.timestamp | date:'hh:mm:ss dd-MM-yyyy'}}</td>
		<td>{{log.userAgent}}</td>
		<td>{{log.responseTime}}</td>
	</tr>
</table>