<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
      <li class="hits"><a href="#/hits">Hits</a></li>
      <li class="responsetimes"><a href="#/responsetimes">Reponse times</a></li>
      <li class="logs"><a href="#/logs">Log</a></li>
  </ul>
</nav>