Nr. of results <input type="text" ng-model="nrOfResults"> <button class="btn" ng-click="load()">Load</button>

<table class="table table-striped">
	<tr>
		<th>Path</th>
		<th>Average response time (in milliseconds)</th>
	</tr>
	
	<tr ng-repeat="log in data">
		<td>{{log[0]}}</td>
		<td>{{log[1] | number:2}}</td>
	</tr>
</table>